*{
	margin:0;
	padding:0;
}

.father{
	width:1000px;
	height:200px;
	position:relative;
	border:10px solid black;
}
.child{

	position:absolute;
	left:50%;
	top:50%;
	width:100px;
	height:100px;
	margin-left: -50px;
	margin-top:-50px;
	background-color:red;
}

ul {
	list-style: none;
}
li:nth-of-type(2n){
	background-color: red;
}
li:nth-of-type(2n-1){
	background-color: green;
}