*{
	margin: 0;
	padding: 0;
}

body{
	width: 800px;
	margin: 0 auto;
}

div.myTitle{
	height: 50px;
	line-height: 50px;
	text-align: center;
	font-size: 32px;
	font-weight: 700;
	color: black;
}

div.myName{
	height: 30px;
	line-height: 30px;
	text-align: left;
	font-size: 20px;
	color: black;
}

div.myName span{
	font-weight: bold;
}

div.contact{
	margin: 0 auto;
	line-height: 30px;
}

div h2{
	font-size: 20px;
	font-weight: bold;
}
