*{
	margin: 0;
	padding: 0;
}

html,
body{
	height: 100%;
}

div.container{
	width: 100%;
	max-width: 800px;
	height: 100%;
	margin: 0 auto;
	display: flex;
	justify-content: flex-start;
	align-content: flex-start;
	flex-direction: row;
	flex-wrap: wrap;
}

div.container>a{
	display: block;
	position: relative;
	width: 120px;
	height: 120px;
	margin: 40px;
	background-color: #FFF;
	background-size: 100%;
}

div.container>a{
	background-image: url('images/unknown.png');
	background-repeat: no-repeat;
	background-position: center;
}

div.container>a.folder{
	background-image: url('images/folderIcon.png');
	order: -999;
}

div.container>a.html{
	background-image: url('images/htmlIcon.png');
}

div.container>a.image{
	background-image: url('images/imageIcon.png');
	order: -1;
}

div.container>a.css{
	background-image: url('images/cssIcon.png');
}

div.container>a.js{
	background-image: url('images/jsIcon.png');
}

div.container>a>span{
	position: absolute;
	top: 120px;
	width: 100%;
	text-align: center;
	font-size: 16px;
	color: #525252;
	overflow: hidden;
	word-wrap: break-word;
}